<h5>Class Created:		<span id="createdField">{{this.createdAt}}</span><h5>
<h5>Class Last Viewed:	<span id="viewedField">{{this.lastViewed}}</span><h5>
<h5>Class Template:		<span id="templateField">{{this.template.title}}</span><h5>
<h5>Total Students:		<span id="totalStudentsField">{{this.numStudents}}</span><h5>

<table id="student-list" class="table table-responsive table-bordered table-striped">
	<tbody>
	  <tr>
	    <th>username</th><th>first name</th><th>lastname</th> <th>email</th><th>mb</th><th>quiz completion</th><th>attribute %</th><th>total badges</th>
	  </tr>
	  {{#each students}}
	  <tr class="studentRow" data-index={{this.index}}>
	    <td>{{this.username}}</td>
	    <td>{{this.last}}</td>
	    <td>{{this.first}}</td>
	    <td>{{this.email}}</td>
	    <td>{{this.mb}}</td>
	    <td>{{this.quizComplete}}/{{this.quizTotal}}</td>
	    <td>{{this.attrPercentage}}%</td>
	    <td>{{this.badgeComplete}}/{{this.badgeTotal}}</td>
	  </tr>
	  {{/each}}
	</tbody>
</table>