<a class="weekItemLink {{{active}}} {{{template.name}}}" data-weekItem="{{{index}}}" data-type="{{{template.name}}}" href="#weekItem{{{index}}}">
<span class="item-icon icomoon icon-{{{template.glyph}}}"></span><span class="hoverover">{{{name}}}</span>
</a>