<a class="profileItemLink profile" data-profileItem="{{{index}}}" data-type="{{{type}}}" href="#profileItem{{{index}}}">
	<span class="item-icon icomoon icon-{{{glyph}}}"></span><span class="hoverover">{{{name}}}</span>
</a>