<div class="headingContainer">
	<h1 class="title">article</h1>
	<h1 class="subtitle">{{{content.heading}}}</h1>
</div>

<div class="inner-wrap">
{{#if content.image}}
  <div class="row">
    <div class="col-md-4">
      <img class="sideImage" src="../images/frame_images/{{content.image}}" alt="">
    </div>
    <div class="col-md-8">
{{/if}}

		{{#if content.summary}}
		<h2 class="subheading">Summary:</h2>
		<div class="textblock">
			{{{content.summary}}}
		</div>
		{{/if}}

		{{#if content.instructions}}
		<h2 class="subheading">Instructions:</h2>
		<div class="textblock">
			{{{content.instructions}}}
		</div>
		{{/if}}
		
		{{#if content.instructionList}}
		<h2 class="subheading">Instructions:</h2>

		{{#if content.instructionListHeading}}
		<p>{{{content.instructionListHeading}}}</p>
		{{/if}}
		
		<ol class="objectives">
	      {{#each content.instructionList}}
	        <li>{{{this}}}</li>
	      {{/each}}
	    </ol>
	    {{/if}}

		<a class="submitbtn btn btn-large btn-primary attributeTarget eventTarget" target="_blank" href="{{{content.link}}}">View Article</a>
{{#if image}}
    </div>
  </div>
{{/if}}	
</div>