<h1>Quiz</h1>
<div class="inner-wrap">

<h2 class="subHeading">{{{content.title}}}</h2>

<div class="quiz"></div>
	{{#each content.questions}}
		{{setQuizIndex}}

		<div class="quizItem" data-index="{{getQuizIndex}}">
			<p>{{{this.title}}}</p>
			{{#each this.responses}}
				<input type="radio" name="quiz{{getQuizIndex}}" data-index="{{getQuizIndex}}" value="this">{{{this}}}<br>
			{{/each}}
		</div>
		<hr/>
	{{/each}}

	<button type="submit" class="submit btn btn-large btn-primary">Submit</button>
</div>