<div class="headingContainer">
	<!-- <h1 class="title">quiz</h1>
	<h1 class="subtitle">{{{content.title}}}</h1> -->
	<h1 class="title"> </h1>
	<h1 class="subtitle">Quiz</h1>
</div>

<div class="inner-wrap">

<div class="quiz"></div>
	{{#each content.questions}}
		{{setQuizIndex}}

		<div class="quizItem" data-index="{{getQuizIndex}}">
			<h2 class="subheading">{{{this.title}}}</h2>
			{{setResponseIndex}}
			<div class="textblock">
			{{#each this.responses}}
				<input type="radio" class="response" name="quiz{{getQuizIndex}}" data-index="{{getResponseIndex}}" value="this"><span class="inputtext">{{{this}}}</span><br>
			{{/each}}
			</div>
		</div>
		<hr/>
	{{/each}}

	<a type="submit" class="submitbtn btn btn-large btn-primary attributeTarget eventTarget">Submit</a>
</div>