<h1 class="title">video</h1>
<h1 class="subtitle">{{{content.heading}}}</h1>

<div class="inner-wrap">
	<div class="another-wrapper">	  	
	  	<p>{{{content.synopsis}}}</p>
	  	<p>{{{content.instruction}}}</p>
	  	<ol class="objectives">
	      {{#each content.instructionList}}
	        <li>{{{this}}}</li>
	      {{/each}}
	    </ol>
	    
	  	<a class="moreButton attributeTarget eventTarget" href="{{{content.link}}}" target="_blank">View Video</a>
	</div>
</div>