<h1>Video</h1>

    <h2 class="sub">{{{content.heading}}}</h2>
	<video id="video" controls>
    	<source src="videos/{{content.video}}.m4v" type="video/m4v">
        <source src="videos/{{content.video}}.ogv" type="video/ogv">
        <source src="videos/{{content.video}}.webm" type="video/webm">
  </video>
  <h2 class="subheading">{{{content.subheading}}}</h2>

