<h1 class="clearfix">Attributes</h1>
<div class="inner-wrap">
  <div class="profile-categories attributes">
      <div class="progress-wrap">
          <div class="attr-item ">
            <div class="box"  data-toggle="tooltip" data-placement="bottom" title="{{{getAttributeDesc 0}}}">
            <h4>{{{getAttributeName 0}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 0}}}"><span class="attr-value">{{{getAttribute 0}}}</span></span>
              </div>
            </div>
          </div>
          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attrissbute-item" title="{{{getAttributeDesc 1}}}">
              <h4>{{{getAttributeName 1}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 1}}}"><span class="attr-value">{{{getAttribute 1}}}</span></span>
              </div>
            </div>
          </div>
          <div class="attr-item">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="{{{getAttributeDesc 2}}}">
              <h4>{{{getAttributeName 2}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 2}}}"><span class="attr-value">{{{getAttribute 2}}}</span></span>
              </div>
            </div>
          </div>
          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-  item" title="{{{getAttributeDesc 3}}}">
              <h4>{{{getAttributeName 3}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 3}}}"><span class="attr-value">{{{getAttribute 3}}}</span></span>
              </div>
            </div>
          </div>

          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="{{{getAttributeDesc 4}}}">
            <h4>{{{getAttributeName 4}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 4}}}"><span class="attr-value">{{{getAttribute 4}}}</span></span>
              </div>
            </div>
          </div>
          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="{{{getAttributeDesc 5}}}">
              <h4>{{{getAttributeName 5}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 5}}}"><span class="attr-value">{{{getAttribute 5}}}</span></span>
              </div>
            </div>
          </div>


          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="{{{getAttributeDesc 6}}}">
              <h4>{{{getAttributeName 6}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 6}}}"><span class="attr-value">{{{getAttribute 6}}}</span></span>
              </div>
            </div>
          </div>

          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="{{{getAttributeDesc 7}}}">
              <h4>{{{getAttributeName 7}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 7}}}"><span class="attr-value">{{{getAttribute 7}}}</span></span>
              </div>
            </div>
          </div>

          <div class="attr-item">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="{{{getAttributeDesc 8}}}">
              <h4>{{{getAttributeName 8}}}</h4>
              <div class="col-md-12">
                <span class="pie intercultural" data-value="{{{getAttribute 8}}}"><span class="attr-value">{{{getAttribute 8}}}</span></span>
              </div>
            </div>
          </div>

          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="{{{getAttributeDesc 9}}}">
              <h4>{{{getAttributeName 9}}}</h4>
              <div class="col-md-12">
                <span class="pie" data-value="{{{getAttribute 9}}}"><span class="attr-value">{{{getAttribute 9}}}</span></span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>