<h1 class="clearfix subtitle">Attributes</h1>

<div class="inner-wrap">
<ul>

  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 0}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 0}}}.</span>
      <span class="attr_progress">

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 0}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 0}}}%;">
        </div>

      </span>
    </div>
  </li>


  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 1}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 1}}}.</span>
      <span class="attr_progress">

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 1}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 1}}}%;">
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 2}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 2}}}.</span>
      <span class="attr_progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 2}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 2}}}%;">
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 3}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 3}}}.</span>
      <span class="attr_progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 3}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 3}}}%;">
        </div>
      </span>
    </div>
  </li>
  
  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 4}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 4}}}.</span>
      <span class="attr_progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 4}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 4}}}%;">
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 5}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 5}}}.</span>
      <span class="attr_progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 5}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 5}}}%;">
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 6}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 6}}}.</span>
      <span class="attr_progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 6}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 6}}}%;">
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 7}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 7}}}.</span>
      <span class="attr_progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 7}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 7}}}%;">
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 8}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 8}}}.</span>
      <span class="attr_progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 8}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 8}}}%;">
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="attr_container">
      <img class="attr_img" src="../images/attrs/attr1.png" alt="">
      <span class="attr_name">{{{getAttributeName 9}}}:</span>
      <span class="attr_desc">{{{getAttributeDesc 9}}}.</span>
      <span class="attr_progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{{getAttributeVal 9}}}" aria-valuemin="0" aria-valuemax="10" style="width: {{{getAttributeVal 9}}}%;">
        </div>
      </span>
    </div>
  </li>

</ul>
</div>