<h1 class="clearfix subtitle">Badges</h1>

<div class="inner-wrap row">
  <div class="row heading">
    <div class="col-md-4 col1">
      <img src="../images/trophy.png" alt="">  
    </div>
    
    <div class="col-md-8 col2">
      <p>The badges below are goals in the course that represent milestones in your growth as a student. Earning all of the badges is a sign that you have mastered the course materials.</p>
    </div>
  </div>

  <div class="profile-categories badges">
    <ul>
      {{#each this.userData.badges.group1}}
      <li><a  class="badge" data-active="{{isBadgeActiveLabel}}" data-type="{{this.name}}" data-toggle="popover" data-placement="right" title="{{this.popupname}}" data-content="{{this.popupdesc}}"><img src="../images/moz-badges/new/{{this.name}}_badge{{isBadgeActiveImage}}.png" alt=""></a></li>
      {{/each}}
  </ul> <br/>
  
  <ul>
      {{#each this.userData.badges.group2}}
      <li><a  class="badge" data-active="{{isBadgeActiveLabel}}" data-type="{{this.name}}" data-toggle="popover" data-placement="right" title="{{this.popupname}}" data-content="{{this.popupdesc}}"><img src="../images/moz-badges/new/{{this.name}}_badge{{isBadgeActiveImage}}.png" alt=""></a></li>
      {{/each}}
  </ul> <br/>
  <ul>
      {{#each this.userData.badges.group3}}
      <li><a  class="badge" data-active="{{isBadgeActiveLabel}}" data-type="{{this.name}}" data-toggle="popover" data-placement="right" title="{{this.popupname}}" data-content="{{this.popupdesc}}"><img src="../images/moz-badges/new/{{this.name}}_badge{{isBadgeActiveImage}}.png" alt=""></a></li>
      {{/each}}
    </ul>
  </div>
</div>