<h1 class="profile-welcome clearfix">Student Profile</h1>
<div class="inner-wrap">
  <div class="col-md-4 profile_section">
    <div class="profile_pic">
      <img src="../images/avatars/avatar1.png" alt="">

      <p class="name">{{{userData.first}}} {{{userData.last}}}</p>
      <p class="mb">{{{userData.mb}}}</p>
    </div>

    <a class="profile_button" href="#week/{{{userData.currentWeek}}}">Go to Current Week</a>
  </div>

  <div class="col-md-4">
    <img src="../images/avatar_bkg.png" alt="">
  </div>

  <div class="col-md-4">
    <img src="../images/avatar_bkg.png" alt="">
  </div>

  <!-- <div class="profile-pic col-md-3 box">
    <h3>{{{userData.first}}} {{{userData.last}}}</h3>
    <div class="avatar">
      <div class="avatar-container">
      </div>
      <a class="edit-avatar">Change Avatar</a>
      <img src="../images/avatar.png" class="avatar">
    </div>
    <div class="myers-briggs"><h4>Myers-Briggs:</h4><h4>{{{userData.mb}}}</h4></div>
  </div>

  <div class="profile-categories student-progress col-md-9">
    
    <div class="progress-wrap">
      <div id="calendar">
        <div id="calendar-inner">
          <h3 class="title">Week</h3>
          <span class="week">{{{userData.currentWeek}}}</span>
        </div>
      </div>
      <div class="progress-box box col-md-8 pull-right">
        <h3>Percent Completed</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width: 21%;">
            <span class="sr-only">21%</span>
          </div>
          <span class="glyphicon glyphicon-bell"></span>
        </div>
      
      <p class="current-week">You are currently in <label for="student-progress">Week {{{userData.currentWeek}}}</label> of 15</p>

      <div class="last-lesson clear">
        <label for="last-lesson">Last Lesson Completed</label>
        <ul id="section_nav" class="hidden-phone">
        <li class="game clear">
          <a href=""><span class="icomoon icon-gamepad clear"></span><span class="hoverover">game: Let's go to school!</span></a>
        </li>
        </ul>
      </div>
    </div>
      <a href="#week/{{{userData.currentWeek}}}" id="gotoWeekButton" class="moreButton">Proceed to Week {{{userData.currentWeek}}}<span class="glyphicon glyphicon-play"></span></a>
    </div> -->
  </div>
</div>