<h1 class="profile-welcome clearfix subtitle">Student Profile</h1>

<div class="inner-wrap">
  <div class="col-md-4 profile_section">
    <div class="profile_pic">
      <img src="../images/avatars/avatar{{{userData.profileImage}}}.png" alt="">
      
      <a class="edit-icon" html="#"><i class="fa fa-pencil-square-o"></i></a>

      <p class="name">{{{userData.first}}} {{{userData.last}}}</p>
      <p class="mb">{{{userData.mb}}} <a html="#"><i class="fa fa-pencil-square-o"></i></a></p>

      <a class="profile_button" href="#week/{{{userData.currentWeek}}}">Go to Class <i class="fa fa-caret-right"></i></a>
    </div>
  </div>

  <div class="col-md-4 progress_section dashboard_box">
      <div class="title_box">
          <p>Progress</p>
      </div>
  
      <div class="progress_copy">
        <p class="semester_label">SEMESTER <span class="class_number">1</span></p>
        <p class="week_label">Week <span class="class_number">1</span></p>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          </div>
        </div>

        <p class="time_label">Time Spent: <span class="class_number">{{{userData.daysCreated}}}</span></p>
      </div>
  </div>

  <div class="col-md-4 metrics_section dashboard_box">
      <div class="title_box">
          <p>Metrics</p>
      </div>

      <div class="metrics_copy">
        <hr/>
        <p class="grade_label"><span class="l">GRADES:</span> <span class="number">80%</span></p>
        <hr/>
        <p class="badge_label"><span class="l">BADGES:</span> <span class="number">6/10</span></p>
        <hr/>
        <p class="badge_label"><span class="l">ATTRIBUTES:</span> <span class="number">34%</span></p>
        <hr/>
      </div>
  </div>
  </div>
</div>