<div class="container-fluid">
  <h4>Manage Guests</h4>

  <hr/>
  <h4>Add Guest</h4>
  <div class="admin-top">
    <input type="text" placeholder="Username">
    <input type="text" placeholder="Email">
    <select class="combobox">
      <option value="-99">Select A Class</option>
      {{#each classes}}
        <option value="this.index">{{this.index}} - {{this.template.title}}</option>
      {{/each}}
    </select>

    <br/>
    <button type="submit" name="add">Add</button>
  </div>

  <hr/>
  <h4>Edit Guests</h4>
  <table id="admin-students" class="table table-responsive table-bordered table-striped">
    <tbody>
      <tr>
        <th>Name</th><th>Email Address</th><th>Class</th><th>Actions</th>
      </tr>
      {{#each guests}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>{{this.class}}</td>
        <td><button>Edit</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>