<div class="container-fluid">
  <h4>Manage Teachers</h4>

  <hr/>
  <h4>Add Teacher</h4>
  <div class="admin-top">
    <input type="text" id="firstName" placeholder="First Name">
    <input type="text" id="lastName" placeholder="Last Name">
    <input type="text" id="userName" placeholder="Username">
    <input type="text" id="email" placeholder="Email">
    <input type="text" id="password" placeholder="Password">

    <select class="combobox" id="classIdx">
      <option value="-99">Select A Class</option>
      {{#each classes}}
        <option value="{{this.index}}">{{this.index}} - {{this.template.title}}</option>
      {{/each}}
    </select>
    <br/>
    <button type="submit" id="createTeacher" name="add">Add</button>
  </div>

  <hr/>
  <h4>Edit Teachers</h4>
  <table id="admin-students" class="table table-responsive table-bordered table-striped">
    <tbody>
      <tr>
        <th>Name</th><th>Email Address</th><th>In Classes</th><th>Current Class</th><th>Actions</th>
      </tr>
      {{#each teachers}}
      <tr>
        <td>{{this.last}}, {{this.first}}</td>
        <td>{{this.email}}</td>
        <td>{{this.classes}}</td>
        <td>{{this.currentClass}}</td>
        <td><button id="editTeacher">Edit</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>