<div class="container-fluid">
  <h3>Manage Teachers</h3>

  <hr/>
  <h4>Add Teacher</h4>
  <div class="admin-top">
    <input type="text" id="firstName" placeholder="First Name">
    <input type="text" id="lastName" placeholder="Last Name">
    <input type="text" id="userName" placeholder="Username">
    <input type="text" id="email" placeholder="Email">
    <input type="text" id="password" placeholder="Password">

    <select class="combobox" id="classIdx">
      <option value="-99">Select A Class</option>
      {{#each classes}}
        <option value="{{this.index}}">{{this.name}}</option>
      {{/each}}
    </select>
    <br/>
    <button type="submit" id="createTeacher" name="add">Add</button>
  </div>

  <hr/>
  <h4>Edit Teachers</h4>
  <table id="admin-students" class="table table-responsive table-bordered table-striped">
    <tbody>
      <tr>
        <th>Name</th><th>Username</th><th>Email Address</th><th>In Classes</th><th>Current Class</th><th>Actions</th>
      </tr>
      {{#each teachers}}
      <tr data-index="{{this.index}}">
        <td>{{this.last}}, {{this.first}}</td>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>{{this.classNames}}</td>
        <td>{{this.currentClassName}}</td>
        <td><button id="editTeacher">Edit</button><button id="deleteTeacher">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Edit Teacher</h4>
      </div>
      <div class="modal-body">        
          <!-- <input type="text" id="firstName_edit" placeholder="Change First Name">
          <br/>
          
          <input type="text" id="lastName_edit" placeholder="Change Last Name"><br/>

          <input type="text" id="userName_edit" placeholder="Change Username"><br/>

          <input type="text" id="email_edit" placeholder="Change Email"><br/>
          
          <input type="text" id="password_edit" placeholder="Change Password"><br/>
           
          <input type="hidden" id="teacherIdx_edit"><br/>

          <select class="combobox" id="classIdx_edit">
            <option value="-99">Select Default Class</option>
            {{#each classes}}
              <option value="{{this.index}}">{{this.index}} - {{this.template.title}}</option>
            {{/each}}
          </select><br/><br/>
          -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submitEditBtn" class="btn btn-primary">Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->