<div class="container-fluid">
  <h4>Manage Classes</h4>

  <hr/>
  <h4>Create A Class</h4>
  <div class="admin-top">
    <select class="combobox" id="templateCombo">
      <option value="-99">Select Class Template</option>
      {{#each classTemplates}}
        <option value="{{this.index}}">{{this.title}}</option>
      {{/each}}
    </select>

    <select class="combobox" id="instructorCombo">
      <option value="-99">Select A Instructor</option>
      {{#each teachers}}
      <option value="{{this.index}}">{{this.last}}, {{this.first}}</option>
      {{/each}}
    </select>

    <button type="submit" id="createBtn" name="add">Create</button>
  </div>
  
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <h4>Edit Classes</h4>
      <select class="combobox" id="classCombo">
        <option value="-99">Select A Class</option>
        {{#each classes}}
          <option value="{{this.index}}">{{this.index}} - {{this.template.title}}</option>
        {{/each}}
      </select>
      <button type="submit" id="deleteBtn" name="add">Delete Class</button>
    </div>
    <div class="col-md-6">
      <h5>Class Created:       <span id="classCreatedField">------</span></h5>
      <h5>Class Last Edited:   <span id="classEditedField">------</span></h5>
      <h5>Total Instructors:   <span id="instructorsField">-</span></h5>
      <h5>Total Students:      <span id="studentsField">-</span></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h5><strong>Teachers</strong></h5>
      <table id="admin-teachers" class="table table-responsive table-bordered table-striped">
        <tbody>
          <tr>
            <th>Name</th><th>In Class</th><th>Actions</th>
          </tr>
          {{#each teachers}}
          <tr class="teacherRow" data-index={{this.index}}>
            <td>{{this.last}}, {{this.first}}</td>
            <td class="inClass">-</td>
            <td><button hidden class="addToClassBtn">Add to Class</button><button hidden class="removeFromClassBtn">Remove from Class</button><button hidden class="defaultClassBtn">Make Default Class</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h5><strong>Students</strong></h5>
      <table id="admin-students" class="table table-responsive table-bordered table-striped">
        <tbody>
          <tr>
            <th>Name</th><th>In Class</th><th>Actions</th>
          </tr>
          {{#each students}}
          <tr class="studentRow" data-index={{this.index}}>
            <td>{{this.last}}, {{this.first}}</td>
            <td class="inClass">-</td>
            <td><button hidden class="addToClassBtn">Add to Class</button><button hidden class="removeFromClassBtn">Remove from Class</button><button hidden class="defaultClassBtn">Make Default Class</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>