<div class="container-fluid">
  <h4>Manage Teachers</h4>

  <hr/>
  <h4>Add Teacher</h4>
  <div class="admin-top">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="text" placeholder="Username">
    <input type="text" placeholder="Email">
    <select class="combobox">
      <option value="-99">Select A Class</option>
      {{#each classes}}
        <option value="this.index">{{this.index}} - {{this.template.title}}</option>
      {{/each}}
    </select>
    <br/>
    <button type="submit" name="add">Add</button>
  </div>

  <hr/>
  <h4>Edit Teachers</h4>
  <table id="admin-students" class="table table-responsive table-bordered table-striped">
    <tbody>
      <tr>
        <th>Name</th><th>Email Address</th><th>In Classes</th><th>Actions</th>
      </tr>
      {{#each students}}
      <tr>
        <td>{{this.last}}, {{this.first}}</td>
        <td>{{this.email}}</td>
        <td>{{this.classes}}</td>
        <td><button>EDIT</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>