<div class="container-fluid">
  <h4>Manage Classes</h4>

  <hr/>
  <h4>Create A Class</h4>
  <div class="admin-top">
    <select class="combobox" id="templateCombo">
      <option value="-99">Select Class Template</option>
      {{#each classTemplates}}
        <option value="{{this.index}}">{{this.title}}</option>
      {{/each}}
    </select>

    <select class="combobox" id="instructorCombo">
      <option value="-99">Select A Instructor</option>
      {{#each teachers}}
      <option value="{{this.index}}">{{this.last}}, {{this.first}}</option>
      {{/each}}
    </select>

    <button type="submit" id="createBtn" name="add">Create</button>
  </div>
  
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <h4>Edit Classes</h4>
      <select class="combobox">
        <option value="-99">Select A Class</option>
        {{#each classes}}
          <option value="this.index">{{this.index}} - {{this.template.title}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-md-6">
      <h5>Class Created:       <span>------</span></h5>
      <h5>Class Last Viewed:   <span>------</span></h5>
      <h5>Total Instructors:   <span>-</span></h5>
      <h5>Total Students:      <span>-</span></h5>
      <h5>Current Module:      <span>-</span></h5>
      <button type="submit" name="add">Delete Class</button>
    </div>
  </div> 
  
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <h5>Teachers</h5>
      <table id="admin-students" class="table table-responsive table-bordered table-striped">
        <tbody>
          <tr>
            <th>Name</th><th>In Class</th><th>Actions</th>
          </tr>
          {{#each teachers}}
          <tr>
            <td>{{this.last}}, {{this.first}}</td>
            <td>-</td>
            <td><button>Add to Class</button><button>Remove from Class</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h5>Students</h5>
      <table id="admin-students" class="table table-responsive table-bordered table-striped">
        <tbody>
          <tr>
            <th>Name</th><th>In Class</th><th>Actions</th>
          </tr>
          {{#each students}}
          <tr>
            <td>{{this.last}}, {{this.first}}</td>
            <td>-</td>
            <td><button>Add to Class</button><button>Remove from Class</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>