<div id="question_panel">
	<div class="question_test">{{{question.prompt}}}</div>

	{{#if question.choice_0}}
		<button class="answer" data-ansIndex="0" id="answer_0">{{{question.choice_0.text}}}</button>
	{{/if}}

	{{#if question.choice_1}}
		<button class="answer" data-ansIndex="1" id="answer_1">{{{question.choice_1.text}}}</button>
	{{/if}}

	{{#if question.choice_2}}
		<button class="answer" data-ansIndex="2" id="answer_2">{{{question.choice_2.text}}}</button>
	{{/if}}

	{{#if question.choice_3}}
		<button class="answer" data-ansIndex="3" id="answer_3">{{{question.choice_3.text}}}</button>
	{{/if}}
	
	{{#if question.choice_4}}s
		<button class="answer" data-ansIndex="4" id="answer_4">{{{question.choice_4.text}}}</button>
	{{/if}}
</div>

<div id="continue_panel">
	<button id="continue">Click to Continue</button>
</div>


<div id="close_panel">
	<button id="close" data-dismiss="modal" >Click to Close</button>
</div>