<div id="question_panel">
	<div class="question_test">{{{question.prompt}}}</div>

	{{#if question.choice_0}}
		<a class="answer articlebtn btn btn-large btn-primary" id="answer_0" data-ansIndex="0">{{{question.choice_0.text}}}</a>
	{{/if}}

	{{#if question.choice_1}}
		<a class="answer articlebtn btn btn-large btn-primary" id="answer_1" data-ansIndex="1">{{{question.choice_1.text}}}</a>
	{{/if}}

	{{#if question.choice_2}}
		<a class="answer articlebtn btn btn-large btn-primary" id="answer_2" data-ansIndex="2">{{{question.choice_2.text}}}</a>
	{{/if}}

	{{#if question.choice_3}}
		<a class="answer articlebtn btn btn-large btn-primary" id="answer_3" data-ansIndex="3">{{{question.choice_3.text}}}</a>
	{{/if}}
	
	{{#if question.choice_4}}
		<a class="answer articlebtn btn btn-large btn-primary" id="answer_4" data-ansIndex="4">{{{question.choice_4.text}}}</a>
	{{/if}}
</div>

<div id="continue_panel">
	<a class="articlebtn btn btn-large btn-primary" id="continue">Click to Continue</a>
</div>


<div id="close_panel">
	<a class="articlebtn btn btn-large btn-primary" id="close"  data-dismiss="modal">Click to Close</a>
</div>